<div class="card-media">
  <img [src]="movie.cover" [alt]="movie.title" class="card-media-img" />
  <span class="card-tag">{{ movie.director }}</span>
</div>
<div class="movie-card-body">
  <h2 class="movie-card-header">{{ movie.title }}</h2>
  <div class="movie-card-options">
    <button
      *ngIf="index === undefined"
      mat-icon-button
      aria-label="Marcar filme como assistido"
      color="primary"
      (click)="toggleWatched(movie.episode_id)"
    >
      <mat-icon>{{
        (watched$ | async) ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>

    <button
      *ngIf="index + 1"
      mat-icon-button
      aria-label="Deletar filme"
      color="primary"
      (click)="editMovie(movie, index)"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      *ngIf="index + 1"
      mat-icon-button
      aria-label="Deletar filme"
      color="primary"
      (click)="deleteMovie(index)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <p>
    Episódio
    {{
      (movie.episode_id ? movie.episode_id : index + 1)
        | numberToRoman
        | uppercase
    }}
  </p>
  <button
    mat-stroked-button
    color="primary"
    aria-label="Detalhes do filme"
    (click)="movieDetails(movie)"
  >
    Detalhes
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
</div>
