<div class="card-media">
  <img [src]="movie.cover" [alt]="movie.title" class="card-media-img" />
  <span class="card-tag">{{ movie.director }}</span>
</div>
<div class="movie-card-body">
  <h2 class="movie-card-header">{{ movie.title }}</h2>
  <div class="movie-card-options">
    <button
      mat-icon-button
      aria-label="Marcar filme como assistido"
      color="primary"
      (click)="toggleWatched(movie.episode_id)"
    >
      <mat-icon>{{
        (watched$ | async) ? "visibility" : "visibility_off"
      }}</mat-icon>
    </button>

    <button
      *ngIf="index + 1"
      mat-icon-button
      aria-label="Deletar filme"
      color="primary"
      (click)="deleteMovie(index)"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <!--
    <fa-icon
      *ngIf="customMovies.includes(movie.url)"
      [icon]="faEdit"
      tooltip="Editar filme"
      class="ml-2"
      container="left"
      (click)="editMovie(movie, i)"
    ></fa-icon>
    <fa-icon
      *ngIf="customMovies.includes(movie.url)"
      class="ml-2"
      [icon]="faTrash"
      tooltip="Excluir filme"
      container="left"
      (click)="deleteMovie(i)"
    ></fa-icon> -->
  </div>
  <p>Episódio {{ movie.episode_id ? movie.episode_id : index + 1 }}</p>
  <button
    mat-stroked-button
    color="primary"
    aria-label="Detalhes do filme"
    (click)="(null)"
  >
    Detalhes
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
</div>
